venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
*.env
.env
*.local
*.log
logs/
staticfiles/
media/
.vscode/
.idea/
.DS_Store
Thumbs.db
pip-wheel-metadata/
*.egg-info/
dist/
build/
*.ipynb_checkpoints/
tmp/
temp/
